<launch>
    <arg name="laser_enabled" default="true"/>
    <arg name="realsense_enabled" default="true"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find steward_gazebo)/worlds/warehouse.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
        <arg name="laser_enabled" value="$(arg laser_enabled)"/>
        <arg name="realsense_enabled" value="$(arg realsense_enabled)"/>
        <arg name='yaw' value="0.0" />
        <arg name='x' value="-22.0" />
        <arg name="joystick" value="false" />
    </include> 

    <node name="rover_stats_publisher" pkg="steward_handler" type="rover_stats_publisher.py" output="screen" />

</launch>