<?xml version="1.0"?>

<model>
  <name>36inch_OD_pipe_stack</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Jasmeet Singh</name>
    <email>jasmeet0915@gmail.com </email>
  </author>

  <description>
    A model of a 2 layer stack of 36 inch diameter steel pipes
  </description>

</model>
